# Packages required to build docs. See
# https://docs.ansible.com/ansible/latest/dev_guide/developing_collections_documenting.html#build-collection-docsite

# Yes, it's wasteful to install all of Ansible in a venv, but
# antsibull-docs requires a later version than I have installed.
ansible-core >= 2.13.0
antsibull-docs
antsibull-changelog
